<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".UpdateDiveLog"
            android:exported="false" />
        <activity
            android:name=".LogBook_AddNew"
            android:exported="false" />
        <activity
            android:name=".SavedLogs"
            android:exported="false" />
        <activity
            android:name=".PreviousDiveBuddies"
            android:exported="false" />
        <activity
            android:name=".AddNewDiveBuddyOrSelectFromPrevious"
            android:exported="false" />
        <activity
            android:name=".AddNewEquipmentOrGetPrevious"
            android:exported="false" />
        <activity
            android:name=".AddNewEquipmentCheckList"
            android:exported="false" />
        <activity
            android:name=".AddNewOrSelectFromPrevious"
            android:exported="false" />
        <activity
            android:name=".AddNewWildLifeCheckList"
            android:exported="false" />
        <activity
            android:name=".WildlifeMenu"
            android:exported="false" />
        <activity
            android:name=".WildLifeDetails"
            android:exported="false" />
        <activity
            android:name=".UserLoginScreen"
            android:exported="false" />
        <activity
            android:name=".UserHomePage"
            android:exported="false" />
        <activity
            android:name=".SignOutActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationCompletePage"
            android:exported="false" />
        <activity
            android:name=".OtherDivingDetails"
            android:exported="false" />
        <activity
            android:name=".NewUserRegistration"
            android:exported="false" />
        <activity
            android:name=".EquipmentMenu"
            android:exported="false" />
        <activity
            android:name=".EquipmentInformation"
            android:exported="false" />
        <activity
            android:name=".DivingLogbook"
            android:exported="false" />
        <activity
            android:name=".DivingLogMainPage"
            android:exported="false" />
        <activity
            android:name=".DivingLocation"
            android:exported="false" />
        <activity
            android:name=".DivingInformation1"
            android:exported="false" />
        <activity
            android:name=".DivingBuddy"
            android:exported="false" />
        <activity
            android:name=".CompletedNewDiveLog"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>